@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #003748;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: #006e8c;
  padding-block: 10px;
}
header .container {
  display: flex;
  justify-content: space-around;
}
header .container .logo {
  font-size: 25px;
  color: #91e4fb;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
header .container .logo:hover {
  color: #003748;
  transform: scale(140%);
}
header .container .navbar {
  display: flex;
  align-items: center;
}
header .container .navbar .menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .container .navbar .menu ul li a {
  color: #91e4fb;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
header .container .navbar .menu ul li a:hover {
  color: #003748;
}

.menu-item1 a {
  width: 100px;
}

.menu-item2 a {
  width: 100px;
}

.menu-item3 a {
  width: 100px;
}

.menu-item4 a {
  width: 100px;
}

.imagenprincipal {
  background-image: url(../img/comboclasic.jpg);
  height: 93vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenprincipal h1 {
  color: #c9f1fd;
  background-color: rgba(0, 0, 0, 0.5019607843);
  font-weight: bold;
  text-transform: uppercase;
  padding-inline: 5px;
  border-radius: 10px;
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
/*SECTION1*/
.section1 {
  background-color: #91e4fb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 a {
  color: #003748;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
}
.section1 a:hover {
  transform: scale(105%);
}
.section1 .logohambur {
  width: 200px;
  padding: 20px;
}

/*SECTION2*/
.section2 {
  background-color: #003748;
}
.section2 .txt {
  color: #91e4fb;
  font-size: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  text-align: center;
}
.section2 .div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2 .div1 .col-1 {
  width: auto;
  color: #91e4fb;
  text-align: center;
  padding-block: 10px;
}
.section2 .div1 .col-1 h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.section2 .div1 .col-2 {
  border-radius: 10px;
  border: 3px solid #c9f1fd;
  width: 500px;
}

.grid-nos {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-nos .caja {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.grid-nos .caja .txt-nos {
  width: 700px;
  font-size: 40px;
  text-align: center;
  color: #91e4fb;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 10px;
}
.grid-nos .caja1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img5.png);
}
.grid-nos .caja2 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img3.png);
}
.grid-nos .caja3 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img2.jpg);
}

.section-menu {
  padding: 10px 30px 30px 30px;
  background-color: #91e4fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-menu .tittle {
  color: #003748;
  padding-bottom: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.section-menu .nuestroscombos {
  width: 1000px;
  background-color: #003748;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-menu .nuestroscombos .cont-tit-txt-botn {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section-menu .nuestroscombos .cont-tit-txt-botn .titulo-combos {
  color: #91e4fb;
  font-size: 30px;
  text-align: start;
  text-transform: uppercase;
}
.section-menu .nuestroscombos .cont-tit-txt-botn .texto-combos {
  color: #c9f1fd;
  font-size: 20px;
  width: 650px;
  text-align: justify;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-menu .nuestroscombos .cont-tit-txt-botn .boton-combos {
  background-color: #c9f1fd;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-menu .nuestroscombos .cont-tit-txt-botn .boton-combos:hover {
  color: #91e4fb;
  background-color: #006e8c;
}
.section-menu .nuestroscombos .combo-imagenes {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.main-ubi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #91e4fb;
  font-size: 25px;
}

.section-ubi {
  height: 600px;
  display: flex;
  justify-content: space-around;
  background-image: url(../img/localubicacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section-ubi .ubi1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 700px;
}
.section-ubi .ubi1 .cont-ubi {
  text-align: center;
  color: #91e4fb;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 10px;
  font-size: 20px;
}

.uni-mapa, .soleil-mapa {
  border: 2px solid #91e4fb;
  border-radius: 10px;
  width: 100%;
  height: 350px;
}

.main-contactos {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #91e4fb;
}

.contenedor-cont {
  width: 100%;
  background-color: #91e4fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.contenedor-cont .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-cont .contacto2 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.contenedor-cont .contacto2 .redes {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.contacto, .contacto2 h3 {
  font-size: 25px;
  color: #003748;
}

.icon {
  width: 80px;
}

.carousel {
  width: 600px;
  margin: auto;
  background-size: cover;
  margin-bottom: 10px;
}

.d-block {
  border-radius: 10px;
  border: 2px solid #91e4fb;
}

.cont-form {
  width: 400px;
  padding-block: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #91e4fb;
  border-radius: 10px;
}
.cont-form .mb-3 {
  width: 300px;
}
.cont-form .mb-3 h2 {
  display: flex;
  text-align: center;
}

footer {
  background-color: #91e4fb;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  padding-block: 10px;
}

.footer-menu {
  background-color: #006e8c;
}

.footer-contacto {
  margin-top: 10px;
}

@media screen and (max-width: 586px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container ul li a {
    padding-inline: 5px;
  }
  .imagenprincipal h1 {
    font-size: 25px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .section1 a {
    font-size: 30px;
  }
  .section2 .txt {
    font-size: 35px;
  }
  .col-2 {
    width: 400px;
  }
  /*MEDIA NOSOTROS.HTML*/
  .txt-nos {
    width: 400px;
    font-size: 25px;
  }
  /*MEDIA UBICACION.HTML*/
  .main-ubi h2 {
    font-size: 30px;
  }
  .main-ubi h3 {
    font-size: 25px;
  }
  .ubi1 {
    width: 200px;
  }
}
/*MEDIAQUERIES COMBOS.HTML*/
@media screen and (max-width: 680px) {
  .nuestroscombos {
    width: 500px;
  }
}/*# sourceMappingURL=style.css.map */