.container-cont {
    padding: 0;

    .logo-contactos {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-contactos {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-contactos a {
    text-decoration: none;
}

.main-contactos {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorSecundario;

    h2 {
        font-weight: bold;
    }
}

.contenedor-cont {
    width: 100%;
    background-color: $colorSecundario;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

    .contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contacto2 {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;


        .redes {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-block: 5px;
        }
    }
}

.contacto h3, .contacto2 h3 {
    font-size: 25px;
    color: #003748;
    text-align: center;
    padding-inline: 5px;
    font-weight: bold;
}

.icon {
    width: 80px;
}

.carousel {
    width: 500px;
    padding-inline: 20px;
    margin: auto;
    background-size: cover;
    margin-bottom: 10px;
}

.d-block {
    border-radius: 10px;
    border: 2px solid $colorSecundario;
}


.contenedor-form {
    display: flex;
    justify-content: center;
    
    .cont-form {
        width: 400px;
        padding-block: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $colorSecundario;
        border-radius: 10px;
    
        .mb-3 h2 {
            width:100%;
            padding-inline: 10px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        .mail, .txt-mail {
            padding-inline: 5px;
        }
    
    }

}

