.navbar a {
    width: 100px;
    color: $colorSecundario;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    &:hover {
        color: #003748;
    }
}

.grid-nos {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    .caja {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .txt-nos {
            font-size: 30px;
            text-align: center;
            color: $colorSecundario;
            background-color: #00000080;
            border-radius: 10px;
            margin-inline: 1.5rem;
            padding-inline: 10px;
        }
    }

    .caja1 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/img5.png);
    }

    .caja2 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/img3.png);
    }

    .caja3 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/img2.jpg);
    }
}
